[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
marshmallow = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
faker = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.12"
